/* =~=~=~= Importando Sans Serif =~=~=~=*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
    --azul-appso: rgb(36, 14, 146);
    --azul-ceu: rgb(27, 142, 219);
    --cinza-appso: rgb(189, 189, 189);
    --cinza-menu: rgb(61, 61, 61);
    background-color: white;
}

/* =~=~=~= RESET CSS =~=~=~= */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}




/* =~=~=~= MENU PRINCIPAL =~=~=~= */
header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    max-width: 150%;
    height: 12vh;
    background:#ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: center;
    z-index: 99;
}

header img {
    padding: 15px;
    max-width: 20vh;
}

.menu-principal {
    font-size: 20px;;
    display: grid;
    justify-items: center;
}

.menu-principal ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    align-items: center;
}

.menu-principal ul li a {
    max-width: 20vh;
    text-decoration: none;
    color: black;
}

.menu-principal ul li a:hover {
    text-decoration: none;
    border-bottom: solid 2px rgb(45, 9, 226);
}

@media only screen and (max-width: 800px) {

    header img {
        width: 85px;
    }

    .menu-principal ul li {
        font-size: 15px;
    }

}



/* =~=~=~=~= INICIO =~=~=~=~= */
.inicio {
    padding: 100px 50px 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    font-style: inherit;
}

.inicio h2 {
    font-weight: bold;
    font-size: 70px;
}

.inicio h2 strong {
    color: var(--azul-appso);
}


.inicio-texto a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--azul-appso);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(36,14,146,1) 37%, rgba(0,212,255,1) 100%);
    font-size: 20px;
    border: none;
    transition: 2s;
}

.inicio-texto a:hover {
    transition: 1s; 
    animation: fadeAway 2s ease-out;
}

.inicio img {
    border-radius: 400px;
    animation: fadeAway 10s ease-out;
    opacity: 0;
}

@keyframes fadeAway {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.inicio p {
    color: rgb(29, 29, 29);
    padding: 0 0 20px 0;
}

/* Mobile Inicio */
@media only screen and (max-width: 1300px) {
    .inicio img {
        width: 300;
        height: 200px;
    }
}

@media only screen and (max-width: 1000px) {

    .inicio{
        display: block;
        text-align: center;

    }

    .inicio button {
        width: 150px;
        height: 100px;
    }

    .inicio h2 {
        font-size: 20px;
        padding: 0 0 10px 0;
    }

    .inicio img {
        width: 250px;
        height: 200px;
    }
  }

@media only screen and (max-width: 350px) {
    .inicio {
        padding: 300px 0 0 0;
    }
    
    .inicio img {
        width: 100px;
        height: 100px;
    }
}


/* =~=~=~=~ PROJETOS =~=~=~=~ */
.organiza-projetos {
    padding: 20px 100px 70px 100px;
}

.organiza-projetos h2 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: calc(1em + 3vw);
    color: var(--azul-appso);
}

.projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    width: 100%;
}

.projetos-titulo {
    display: grid;
    place-items: center;
}

.projetos-titulo-div {
    display: grid;
    place-items: center;
}

.projetos-titulo-div a{
    display: grid;
    place-items: center;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid black;
    font-size: 22px;
    transition: 1s;
}

.projetos-titulo-div a:hover{
    transition: 2s;
    border-radius: 100px;
    border: 3px solid var(--azul-appso);
    color: var(--azul-appso);
}

.projetos img {
    width: 100%;
}

.projetos p {
    padding: 5px;
    font-size: clamp(10px, 18px, 20px);
}

@media only screen and (max-width: 1000px){

    .projetos {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* =~=~=~=~=~ QUEM SOMOS =~=~=~=~=~ */
.quem-somos {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    color: white;
    background-image: url(cyber-appso-desfoque.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.quem-somos img {
    opacity: 1;
}

.quem-somos p{
    padding: 15px;
    text-align: justify;
}

.quem-somos h3, img {
    padding: 15px;
}

.quem-somos h2 {
    padding: 100px 0 25px 0;
}

/* Mobile Quem Somos*/

@media only screen and (max-width: 800px) {
    .quem-somos {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}
/* Quem somos - Imagem Logo Appso */
@media only screen and (max-width: 350px) {
    .quem-somos img {
        width: 50px;
        height: 25px;
    }
}


/* =~=~=~= CONTATO =~=~=~= */
.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 100px 0;
}

.contato-email p, .contato-info p {
    margin: auto;
    text-align: center;
    align-content: center;
}

.contato-email, .contato-info {
    display: flex;
    text-align: center;
    justify-items: center;
}

.contato img {
    width: 78px;
    height: 78px;
}

/* Mobile Contato */
@media only screen and (max-width: 800px) {
    .contato {
        display: block;
        font-size: 15px;
        padding: 0;
    }

    .contato p {
        text-align: left;
    }

    .contato img {
        display: block;
        width: 25px;
        height: 25px;
    }

    .contato-email, .contato-info {
        display: grid;
    }

    .contato-info p {
        text-align: center;
    }
}

@media only screen and (max-width: 300px) {
    .contato img {
        width: 0;
    }

    .contato-email, .contato-info {
        display: inline-block;
        text-align: left;
        justify-items: left;
    }

    .contato-info p {
        text-align: left;
    }
}

/* =~=~=~ Rodapé =~=~=~ */
footer {
    color: white;
    background-color: black;
    text-align: center;
}

footer p {
    padding: 15px;
}

/* =~=~=~ Barra de Rolagem =~=~=~ */
body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(43, 43, 43);
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--azul-appso);
    border-radius: 20px;
}

* { /* FIREFOX */
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 43, 43) var(--azul-appso);
}

/* =~=~=~= CRÉDITOS =~=~=~= 
   Autor: Eduardo Schmitt   
   Ano: 2022                
                          
   icones retiradas de:     
   fonts.google.com/icons */